body{
    background-color: rgb(199, 212, 248);
}
/**********baniere*********/
.container {
    position: relative;
    width: 100%;
    height: 50%;
}

.container img {
    width: 100%;
    height: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 29, 0.5);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.overlay h1 {
    position: relative;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.10s ease-in-out, opacity 0.1s ease-in-out;
}

.container:hover .overlay {
    opacity: 1;
}

.container:hover .overlay h1 {
    transform: translateY(0);
    opacity: 1;
}  


/*commentaires des utilisateurs*/
/* PRODUCTS */
.product-com {
    border: none;
    font-size: 1rem; 
    position: relative;
    overflow: hidden;
    padding: 2rem;
  }
  
  .product-container-com {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  
    text-transform: none;
    font-size: 1rem;
    text-align: left;
    font-family: sans-serif;
  }
  
  .product-container-com::-webkit-scrollbar {
    display: none;
  }
  
  .pre-btn-com,
  .nxt-btn-com {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn-com {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn-com {
    right: 0;
}
.pre-btn-com img, .nxt-btn-com img{
    
    height: 2rem;
    width: 1rem;
    margin-right: 0; /* enlever la marge à droite de l'image */
}
.pre-btn-com img:hover, .nxt-btn-com img:hover{
        border:none;
        transform: scale(1);/*pas zoom sur image*/
}

/*effet dégrader*/

  .contenair-box-com{
    display: flex;
  }


.box-com { /*box contenant le commentaire, date, et info de utilisateur*/
    margin: 1rem;
    text-align: center;
    position: relative;
    width: 15rem;
    height: 15rem;
    background: #8796da;
    transition: all 0.5s;
    z-index: 2;
    padding: 3em;
}


.box-com h1{
    color: black;
    text-transform: none;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.box-com h2{
    text-transform: none;
    font-size: 1.3rem;
    font-family:  sans-serif;
}

.box-com p { /*commentaire de utilisateur*/
    margin: 0;
    font-size: 1.1rem;
}

.box:hover {
    color: #9c87e7;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.box-com:hover, .box-com:hover ~ .background {
    opacity: 1;
    background: #120d4b;
    background: -moz-linear-gradient(-45deg, 
    #809aee 15%, #180255 100%);
    background: -webkit-linear-gradient(-45deg, 
    #809aee 15%, #180255 100%);
    background: linear-gradient(-45deg, #809aee 15%, #180255 100%);
}

/*Curseur personalisé*/
.cursor {
        width: 40px;
        height: 40px;
        /*border: 1px dashed white;*/
        border-radius: 50%;
        position: absolute;
        pointer-events: none;
}

.cursor::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 15px;
        height: 15px;
        background: rgb(2, 18, 90);
        border-radius: 50%;
}

.expand {
        animation: Anim1 .5s;
        background: rgb(35, 39, 97);
        border: 1px solidrgb(110, 71, 42);
}

@keyframes Anim1{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}
