
/**********baniere*********/

/*japon */
body{
    background-color: rgb(243, 220, 224);
}
.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-image: radial-gradient(
        ellipse 50% 30% at 50% 50%,
        #6b1839,
        transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}
@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}
@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}
@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
    opacity: 0.93;
    }
    to {
    opacity: 1;
    }
}


/*commentaires des utilisateurs*/
/* PRODUCTS */
.product-com {
    border: none;
    font-size: 1rem; 
    position: relative;
    overflow: hidden;
    padding: 2rem;
  }
  
  .product-container-com {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  
    text-transform: none;
    font-size: 1rem;
    text-align: left;
    font-family: sans-serif;
  }
  
  .product-container-com::-webkit-scrollbar {
    display: none;
  }
  
  .pre-btn-com,
  .nxt-btn-com {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn-com {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn-com {
    right: 0;
  }
  
  .pre-btn-com img, .nxt-btn-com img{
  
      height: 2rem;
      width: 1rem;
      margin-right: 0; /* enlever la marge à droite de l'image */
  }
  
  .pre-btn-com img:hover, .nxt-btn-com img:hover{
      border:none;
      transform: scale(1);/*pas zoom sur image*/
  }
  
  
  /*effet dégrader*/
  
  .contenair-box-com{
    display: flex;
  }


.box-com { /*box contenant le commentaire, date, et info de utilisateur*/
    margin: 1rem;
    text-align: center;
    position: relative;
    width: 15rem;
    height: 15rem;
    background: #97668f;
    transition: all 0.5s;
    z-index: 2;
    padding: 3em;
  }
  

  .box-com h1{
    color: black;
    text-transform: none;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.box-com h2{
     text-transform: none;
    font-size: 1.3rem;
    font-family:  sans-serif;
}

.box-com p { /*commentaire de utilisateur*/
   margin: 0;
   font-size: 1.1rem;
}

.box:hover {
    color: #a59d70;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.box-com:hover, .box-com:hover ~ .background {
    opacity: 1;
    background: #e269a6;
    background: -moz-linear-gradient(-45deg, 
    #f5c1e4 15%, #7d0d81 100%);
    background: -webkit-linear-gradient(-45deg, 
    #f5c1e4 15%, #7d0d81 100%);
    background: linear-gradient(-45deg,  #f5c1e4 15%, #7d0d81 100%);
}

/*Curseur personalisé*/
.cursor {
        width: 40px;
        height: 40px;
        /*border: 1px dashed white;*/
        border-radius: 50%;
        position: absolute;
        pointer-events: none;
}

.cursor::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 15px;
        height: 15px;
        background: rgb(107, 46, 89);
        border-radius: 50%;
}

.expand {
        animation: Anim1 .5s;
        background: rgb(135, 16, 139);
        border: 1px solidrgb(110, 71, 42);
}

@keyframes Anim1{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}



